body {
  background-color: #def5ff;
}

h1 {
  color: #004085;
}

.navbar {
  background-color: rgba(0, 84, 174, 0.82);
}

.subnav-content {
  background-color: rgb(29, 108, 193);
}

.subnav-content a:hover {
    background-color: rgb(0, 77, 159);
}

.video-item {
  background: #f8f9fc;
  border: 1px solid #d1d9e6;
}

.video-item:hover {
  background: #e6eef9;
}

.collapsible {
  background-color: #0066b2;
}

.collapsible:hover,
.collapsible.active {
  background: #004085;
}

.content {
  background: #f1f5fc;
  border: 1px solid #d1d9e6;
}
  
footer {
  background-color: #001832;
}

.avatar:hover {
  filter: drop-shadow(0 0 2rem rgba(0, 125, 192, 0.7));
}