body {
    background-color: #deffe2;
  }
  
  h1 {
    color: #008516;
  }

  .navbar {
    background-color: rgba(8, 125, 8, 0.9);
  }
  
  .subnav-content {
    background-color: rgb(11, 149, 11);
  }
  
  .subnav-content a:hover {
      background-color: rgb(30, 113, 30);
  }

  .video-item {
    background: #f8f9fc;
    border: 1px solid #d1d9e6;
  }
  
  .video-item:hover {
    background: #e6f9e8;
  }
  
  .collapsible {
    background-color: #22900c;
  }
  
  .collapsible:hover,
  .collapsible.active {
    background: #13a204;
  }
  
  .content {
    background: #f1fcf1;
    border: 1px solid #d3e6d1;
  }
  
  footer {
    background-color: #002a07;
  }

.avatar:hover {
  filter: drop-shadow(0 0 2rem rgba(41, 155, 56, 0.7));
}

.footer-note a {
  color: #56ff53;
}
