body {
    background-color: #f7eded;
  }
  
  h1 {
    color: #850000;
  }
  
  .navbar {
    background-color: rgba(118, 13, 13, 0.82);
  }
  
  .subnav-content {
    background-color: rgb(132, 32, 32);
  }
  
  .subnav-content a:hover {
      background-color: rgb(152, 32, 32);
  }

  .video-item {
    background: #fcf8f8;
    border: 1px solid #e6d1d1;
  }
  
  .video-item:hover {
    background: #f9e6e6;
  }
  
  .collapsible {
    background-color: rgba(149, 11, 11, 0.82);
  }
  
  .collapsible:hover,
  .collapsible.active {
    background: #a80000af;
  }
  
  .content {
    background: #fcf1f1;
    border: 1px solid #e6d1d1;
  }
  
  footer {
    background-color: #310000;
  }
 
.avatar:hover {
  filter: drop-shadow(0 0 2rem rgba(170, 33, 33, 0.7));
}
.footer-note a {
  color: #ff5b5b;
}
